/* BASE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

* {
  font-family: "Roboto", sans-serif;
}

/* BLOCKS */
.mainMuseos {
  padding-top: 70px;
}
.mainMuseos .divPadreMuseos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mainMuseos .divPadreMuseos__divHijo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainMuseos .divPadreMuseos__divHijo--arriba {
  width: 80%;
}
.mainMuseos .divPadreMuseos__divHijo--arriba--img {
  width: 100%;
  height: auto;
}
.mainMuseos .divPadreMuseos__divHijo--abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 30px 0px 60px 0px;
  text-align: center;
}
.mainMuseos .divPadreMuseos__divHijo--abajo h1 {
  font-size: 30px;
  margin: 10px;
}
.mainMuseos .divPadreMuseos__divHijo--abajo h2 {
  font-size: 20px;
  margin: 5px;
}
.mainMuseos .divPadreMuseos__divHijo--abajo h3 {
  font-size: 15px;
  margin: 5px;
}
.mainMuseos .divPadreMuseos__divHijo--abajo p {
  font-size: 15px;
  margin: 5px 0px 20px 0px;
  line-height: 25px;
}

.mainObras {
  margin-top: 70px;
}
.mainObras img {
  width: 500px;
}
.mainObras .divPadreObras {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mainObras .divPadreObras__divHijoObras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainObras .divPadreObras__divHijoObras--abajo {
  margin: 20px 0px 40px 0px;
  text-align: center;
}
.mainObras .divPadreObras__divHijoObras--abajo h1 {
  font-size: 30px;
  margin: 10px;
}
.mainObras .divPadreObras__divHijoObras--abajo h2 {
  font-size: 20px;
  margin: 10px;
}
.mainObras .divPadreObras__divHijoObras--abajo p {
  font-size: 15px;
  margin: 10px;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px -9px rgb(208, 208, 208);
}
.header__textos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__textos--titulo {
  font-size: 100px;
  font-weight: 500;
}

footer {
  width: 100%;
  height: 100px;
}/*# sourceMappingURL=styles.css.map */